body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1b262c;
    font: #f5f5f5
}
.container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.container .box {
    position: relative;
    padding: 80px 40px 40px;
    transition: 0.5s;
    text-align: center;
    background: #3282b8;

}

.container .box:hover {
    background: #bbe1fa;
}
.container .box p {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.container .box h4 {
    margin: 20px 0 0;
    padding: 0;
    transition: 0.5s;
    font-size: 18px;
    color: #1b262c;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif; ;
}

.container .box h4 span {
    font-weight: 600;
    font-size: 14px;
    color: #bbe1fa;
    transition: 0.5s;
    
}

.container .box:hover p,
.container .box:hover h4,
.container .box:hover h4 span {
    color: #fff;
}

.container .box .imgBox {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.container .box::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 80px;
    height: 80px;
    background: url(275849-200.png);
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
    transition: 0.05s;
    transform: rotate(180deg) translateY(0px);
}
.container .box:hover::after {
    transform: rotate(180deg) translateY(-60px);
    opacity: 1;
}

.container .box::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 40px;
    width: 80px;
    height: 80px;
    background: url(275849-200.png);
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
    transition: 0.05s;
}
.container .box:hover::before {
    transform: translateY(-60px);
    opacity: 1;
}

